.iot-list-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.iot-card {
    background: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.2s;
}

.iot-card:hover {
    transform: translateY(-5px);
    background: var(--card-hover-color);
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.device-name {
    font-weight: 800;
    color: var(--accent-color);
}

/* optional, can be useful : */
.device-status.active { color: var(--active-status-color); }
.device-status.offline { color: var(--offline-status-color); }

/* STATUS DOT */
.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Makes it a circle */
    display: inline-block;
    margin-top: 5px;   /* Aligns it with the text height */
}


.status-indicator.active {
    background-color: var(--active-status-color); 
    box-shadow: 0 0 8px var(--active-status-color); 
}

.status-indicator.offline {
    background-color: var(--offline-status-color); 
    box-shadow: 0 0 8px var(--offline-status-color);
}

/*for relationships*/

.rel-flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 0.9rem;
}

.flow-arrow {
    color: var(--accent-color);
    font-weight: bold;
    padding: 0 5px;
}

.rel-type-tag {
    font-size: 0.65rem;
    background: var(--card-hover-color);
    padding: 2px 6px;
    border-radius: 4px;
    text-transform: uppercase;
}

.rel-logic {
    font-size: 0.8rem;
    color: #bbb;
    border-top: 1px dashed var(--card-hover-color);
    padding-top: 8px;
}